body {background-color:#009999;}

li {list-style-type:none;}

img{display: block;
    margin-left: auto;
    margin-right: auto}

header {text-align: center}

h2 {text-align: center}

li {text-align: center}

pre {text-align: center}

footer {text-align: center}



